<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://cdn.mxpnl.com/libs/mixpanel-platform/css/reset.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.mxpnl.com/libs/mixpanel-platform/build/mixpanel-platform.v0.latest.min.css">
    <link rel="stylesheet" type="text/css" href="reports.css">
    <link rel="stylesheet" type="text/css" href="funnelviz.css">
    <script src="https://cdn.mxpnl.com/libs/mixpanel-platform/build/mixpanel-platform.v0.latest.min.js"></script>
    <script src="funnelmodel.js"></script>
    <script src="funnelviz.js"></script>
  </head>
  <body class="mixpanel-platform-body">

    <div class="mixpanel-platform-section">
      <div class="instructions">
        <div id="dateSelect" style="float: right; margin-bottom: 15px"></div>
        <h1 style="font-size: 18px; color: rgb(95,105,131)">Create a funnel</h1>
      </div><br>

      <div class="event-selects" id="step1">
        <div class="step_header" style ="padding: 8px 15px; padding-top: 8px; padding-right: 15px; padding-bottom: 8px; padding-left: 15px; background-color: #E4E6EA; border-radius: 3px 3px 0 0; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; box-shadow: inset 0 1px #fbfbfd; position: relative; 'display': 'inline-block';">
        <img src="https://cdn.mxpnl.com/cache/fa5ca9a7928f8ac78988e3c4ac427802/images/reports/funnels3/drag_handle.png" style = "margin-right: 8px; cursor: all-scroll;">
        <h3 style = "display: inline; color: #596679; font-size: 13px;">Step 1</h3>
        </div>
        <div class="step_body" style= "padding: 16px 15px; padding-top: 16px; padding-right: 15px; padding-bottom: 16px; padding-left: 15px; background-color: #fff; border-top: 1px solid #ccd5e0; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(204, 213, 224); border-radius: 0 0 3px 3px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;">
          <div id="event1" style="padding: 0 25px 0 28px; padding-top: 0px; padding-right: 25px; padding-bottom: 0px; padding-left: 28px;"></div>
        </div>

        <div class="drop" style= "height: 19px; -webkit-transition: height .1s; transition: height .1s; transition-property: height; transition-duration: 0.1s; transition-timing-function: initial; transition-delay: initial;"></div>
      </div>

      <div class="event-selects" id="step2" style="display: none">
        <div class="step_header" style ="padding: 8px 15px; padding-top: 8px; padding-right: 15px; padding-bottom: 8px; padding-left: 15px; background-color: #E4E6EA; border-radius: 3px 3px 0 0; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; box-shadow: inset 0 1px #fbfbfd; position: relative; 'display': 'inline-block';">
        <img src="https://cdn.mxpnl.com/cache/fa5ca9a7928f8ac78988e3c4ac427802/images/reports/funnels3/drag_handle.png" style = "margin-right: 8px; cursor: all-scroll;">
        <h3 style = "display: inline; color: #596679; font-size: 13px;">Step 2</h3>
        </div>
        <div class="step_body" style= "padding: 16px 15px; padding-top: 16px; padding-right: 15px; padding-bottom: 16px; padding-left: 15px; background-color: #fff; border-top: 1px solid #ccd5e0; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(204, 213, 224); border-radius: 0 0 3px 3px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;">
          <div id="event2" style="padding: 0 25px 0 28px; padding-top: 0px; padding-right: 25px; padding-bottom: 0px; padding-left: 28px;"></div>
        </div>

        <div class="drop" style= "height: 19px; -webkit-transition: height .1s; transition: height .1s; transition-property: height; transition-duration: 0.1s; transition-timing-function: initial; transition-delay: initial;"></div>
      </div>

      <div class="event-selects" id="step3" style="display: none">
        <div class="step_header" style ="padding: 8px 15px; padding-top: 8px; padding-right: 15px; padding-bottom: 8px; padding-left: 15px; background-color: #E4E6EA; border-radius: 3px 3px 0 0; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; box-shadow: inset 0 1px #fbfbfd; position: relative; 'display': 'inline-block';">
        <img src="https://cdn.mxpnl.com/cache/fa5ca9a7928f8ac78988e3c4ac427802/images/reports/funnels3/drag_handle.png" style = "margin-right: 8px; cursor: all-scroll;">
        <h3 style = "display: inline; color: #596679; font-size: 13px;">Step 3</h3>
        </div>
        <div class="step_body" style= "padding: 16px 15px; padding-top: 16px; padding-right: 15px; padding-bottom: 16px; padding-left: 15px; background-color: #fff; border-top: 1px solid #ccd5e0; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(204, 213, 224); border-radius: 0 0 3px 3px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;">
          <div id="event3" style="padding: 0 25px 0 28px; padding-top: 0px; padding-right: 25px; padding-bottom: 0px; padding-left: 28px;"></div>
        </div>

        <div class="drop" style= "height: 19px; -webkit-transition: height .1s; transition: height .1s; transition-property: height; transition-duration: 0.1s; transition-timing-function: initial; transition-delay: initial;"></div>
      </div>

      <div class="event-selects" id="step4" style="display: none">
        <div class="step_header" style ="padding: 8px 15px; padding-top: 8px; padding-right: 15px; padding-bottom: 8px; padding-left: 15px; background-color: #E4E6EA; border-radius: 3px 3px 0 0; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; box-shadow: inset 0 1px #fbfbfd; position: relative; 'display': 'inline-block';">
        <img src="https://cdn.mxpnl.com/cache/fa5ca9a7928f8ac78988e3c4ac427802/images/reports/funnels3/drag_handle.png" style = "margin-right: 8px; cursor: all-scroll;">
        <h3 style = "display: inline; color: #596679; font-size: 13px;">Step 4</h3>
        </div>
        <div class="step_body" style= "padding: 16px 15px; padding-top: 16px; padding-right: 15px; padding-bottom: 16px; padding-left: 15px; background-color: #fff; border-top: 1px solid #ccd5e0; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(204, 213, 224); border-radius: 0 0 3px 3px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;">
          <div id="event4" style="padding: 0 25px 0 28px; padding-top: 0px; padding-right: 25px; padding-bottom: 0px; padding-left: 28px;"></div>
        </div>

        <div class="drop" style= "height: 19px; -webkit-transition: height .1s; transition: height .1s; transition-property: height; transition-duration: 0.1s; transition-timing-function: initial; transition-delay: initial;"></div>
      </div>

      <div class="event-selects" id="step5" style="display: none">
        <div class="step_header" style ="padding: 8px 15px; padding-top: 8px; padding-right: 15px; padding-bottom: 8px; padding-left: 15px; background-color: #E4E6EA; border-radius: 3px 3px 0 0; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; box-shadow: inset 0 1px #fbfbfd; position: relative; 'display': 'inline-block';">
        <img src="https://cdn.mxpnl.com/cache/fa5ca9a7928f8ac78988e3c4ac427802/images/reports/funnels3/drag_handle.png" style = "margin-right: 8px; cursor: all-scroll;">
        <h3 style = "display: inline; color: #596679; font-size: 13px;">Step 5</h3>
        </div>
        <div class="step_body" style= "padding: 16px 15px; padding-top: 16px; padding-right: 15px; padding-bottom: 16px; padding-left: 15px; background-color: #fff; border-top: 1px solid #ccd5e0; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(204, 213, 224); border-radius: 0 0 3px 3px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;">
          <div id="event5" style="padding: 0 25px 0 28px; padding-top: 0px; padding-right: 25px; padding-bottom: 0px; padding-left: 28px;"></div>
        </div>

        <div class="drop" style= "height: 19px; -webkit-transition: height .1s; transition: height .1s; transition-property: height; transition-duration: 0.1s; transition-timing-function: initial; transition-delay: initial;"></div>
      </div>

      <div style="clear: both;"></div>
    </div>
    <script>
      // populate each dropdown with the project's events and add a date picker
      var event1 = $('#event1').MPEventSelect(),
          event2 = $('#event2').MPEventSelect(),
          event3 = $('#event3').MPEventSelect(),
          event4 = $('#event4').MPEventSelect(),
          event5 = $('#event5').MPEventSelect(),
          dateSelect  = $('#dateSelect').MPDatepicker();




var cqScript = 'var HOUR = 60 * 60 * 1000; \
        var DAY   = 24 * HOUR; \
        var WEEK  = 7 * DAY; \
        var MONTH = 30 * DAY; \
        \
        var result = {}; \
        \
        \
        var processEvent = function(event, user) { \
            if (user) { \
                user.state = user.state || { steps: [], next: \'\' }; \
                var current_step = user.state.steps.length; \
                if (event.name == params.steps[current_step]) { \
                       user.state.steps[current_step] = event.time; \
                    user.state.next = \'\'; \
                } else { \
                    if (user.state.next === \'\') { \
                        user.state.next = event.name; \
                    } \
                } \
            } \
        }; \
        \
        var processUser = function(user) { \
            if (user.state && user.state.steps.length) { \
                var day = _to_date_string(user.state.steps[0]); \
                result[day] = result[day] || _initialize_result_for_day(); \
                for (var i = 0; i < user.state.steps.length; i++) { \
                    result[day][i].count++; \
                    if (i > 0) { \
                        var time_delta = user.state.steps[i] - user.state.steps[i - 1]; \
                        result[day][i].sum_of_time_deltas += time_delta; \
                    } \
                } \
                result[day][user.state.steps.length - 1].next[user.state.next] = result[day][user.state.steps.length - 1].next[user.state.next] || 0; \
                result[day][user.state.steps.length - 1].next[user.state.next]++; \
            } \
        }; \
        \
        var _to_date_string = function(ts) { \
            var date = new Date(ts); \
            return date.toISOString().split(\'T\')[0]; \
        }; \
        \
        var _initialize_result_for_day = function() { \
            var day_result = {}; \
            for (var i = 0; i < params.steps.length; i++) { \
                day_result[i] = { count: 0, sum_of_time_deltas: 0, \'next\' : {} }; \
            } \
            return day_result; \
        }; \
        ';



      var runQuery = function() {
          var events = [],
              eventNames = [event1, event2, event3, event4, event5],
              dateRange = dateSelect.MPDatepicker('value'),
              fromDate = dateRange.from,
              toDate = dateRange.to;

          // build out list of events
          $.each(eventNames, function(i, event) {
            eventThere = event.MPEventSelect('value');
            if (eventThere) {
              events.push(eventThere);
            }
          });

          parameters = {
            from: fromDate,
            // to: toDate,
            to: fromDate,
            window_size: '1',
            params: JSON.stringify({steps: events})
          }

          if (events.length > 1) {
            console.log(parameters);
            MP.api.custom_query(cqScript, parameters).done(function(results) {
                console.log(results);
window.results = results;

              var funnel_results = {
                data: {}
              };
              var date = _.keys(results.results)[0];
              funnel_results.data[date] = {
                steps: _.map(_.keys(results.results[date]).sort(), function(idx) {
                  var obj = _.extend(results.results[date][idx], {
                    avg_time: null,
                    event: events[idx],
                    step_conv_ratio: 1,
                    overall_conv_ratio: 1
                  });
                  return obj;
                })
              };
window.funnel_results = funnel_results;

              var model = new MPFunnelModel();
              new MPFunnelViewer({el: '#graph', model: model}).render();
              model.setData(funnel_results);

                //do some stuff here
            })

            // MP.api.funnel('$signup', 'Viewed report').done(function(results) {
            //   // console.log(fake_results);
            //   // console.log(JSON.stringify(fake_results));

            //   var model = new MPFunnelModel();
            //   new MPFunnelViewer({el: '#graph', model: model}).render();
            //   model.setData(fake_results);
            // });
          }

      };

      // set functions to run when dropdowns change
      event1.on('change', function(e, eventName) {
        runQuery();
        $("#step2").show();
      });
      event2.on('change', function(e, eventName) {
        runQuery();
        $("#step3").show();
      });
      event3.on('change', function(e, eventName) {
        runQuery();
        $("#step4").show();
      });
      event4.on('change', function(e, eventName) {
        runQuery();
        $("#step5").show();
      });
      event5.on('change', function(e, eventName) {
        runQuery();
      });

      dateSelect.on('change', function() {
        runQuery();
      });
    </script>

    <div id="report-content"><div id="funnels3"><div class="viewer">
      <div id="eventSelect" style="float: left;"></div>
      <div id="by" class="mixpanel-platform-label" style="margin-left: 10px; display: none;">by</div>
      <div id="propSelect" style="float: left;"></div>
      <div id="dateSelect" style="float: right;"></div>
      <div style="clear: both;"></div>
      <div id="graph">
      </div>
    </div></div></div>
    <script id="tpl_graph" type="text/template">
        <div class="button_blocker">&nbsp;&nbsp;&nbsp;</div>
        <div class="header">
            <div id="date_selector" class="block"></div>
            <div class="block">
                <div class="finish_rate">0</div>
                <div class="meta">Completion<br />Rate</div>
            </div>
            <div class="block">
                <div class="stepper"></div>
            </div>
        </div>
        <div class="body data">
            <div class="columns_wrap">
                <div class="notes">
                    <div class="note no_data">
                        <img class="icon" src="https://cdn.mxpnl.com/site_media/images/reports/funnels3/icon_warn.png" />
                        <h1>We could not find any data</h1>
                        <h2>Try selecting a different date range.</h2>
                    </div>
                    <div class="note loading">
                        <img class="icon" src="https://cdn.mxpnl.com/site_media/images/ajax/ajax-loader-big.gif" />
                        <h1>Building your funnel</h1>
                        <h2>Calculating your conversion rates...</h2>
                    </div>
                    <div class="note error">
                        <img class="icon" src="https://cdn.mxpnl.com/site_media/images/reports/funnels3/icon_warn.png" />
                        <h1>Server Error</h1>
                        <h2></h2>
                    </div>
                </div>
                <div class="y_axis"></div>
                <div class="inner_wrap">
                    <div class="columns"></div>
                    <div class="trends"></div>
                </div>
            </div>
            <div class="overview_button active">Overview</div>
        </div>
    </script>
    <script id="tpl_graph_line" type="text/template">
        <div class="line" style="height: <%= d.height %>px"><div class="amt"><%= d.amt %></div></div>
    </script>
    <script id="tpl_graph_columns" type="text/template">
        <% _.each(d.overall_steps(), function(step, i) { %>
            <div style="<%= d.get_height(step) %>" class="<%= (i == 0) ? 'first ' : '' %>column">
                <div class="count"><%= d.commaize(step.count) %></div>
                <div class="column_button" data-index="<%= step.index %>"
                     data-tooltip="<%= _.escape(d.rename_mp_event(step.event)) %>">
                    <%= _.escape(d.truncate(d.rename_mp_event(step.event), 15)) %>
                </div>
            </div>
        <% }); %>
    </script>
    <script id="tpl_graph_trends" type="text/template">
        <% _.each(d.overall_steps(), function(step, i) { %>
            <% if (i == 0) { return; } %>
            <div class="trend" data-index="<%= step.index %>">
                <div class="percent"><%= d.step_conv_ratio(step) %></div>
            </div>
        <% }); %>
    </script>

    <script>
fake_results =
{
  "meta": {
    "dates": [
      "2015-07-23"
    ]
  },
  "data": {
    "2015-07-23": {
      "steps": [
        {
          "count": 8944,
          "step_conv_ratio": 1,
          "goal": "$signup",
          "overall_conv_ratio": 1,
          "avg_time": null,
          "event": "$signup"
        },
        {
          "count": 7825,
          "step_conv_ratio": 0.8748881932021467,
          "goal": "Viewed report",
          "overall_conv_ratio": 0.8748881932021467,
          "avg_time": 27,
          "event": "Viewed report"
        }
      ],
      "analysis": {
        "completion": 7825,
        "starting_amount": 8944,
        "steps": 2,
        "worst": 1
      }
    }
  }
};
    </script>
  </body>
</html>
